.search-header{
    display: flex;
    width: 93%;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
}

.search-header .logo{
    width: 30%;
    font-size: 27px;
    margin-left: 10px;
    font-weight: 1000;
    color: #171d62;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-header .mid-icons{
    width: 47%;
    margin-left: 15%;
    margin-top: 8px;
}

.search-header .mid-icons i svg{
    width: 25%;
    font-size: 33px;
}

.search-header .mid-icons .list-icon{
    color: #5389f7;
}

.search-header .mid-icons .carousel-icon{
    color: #a4a5c7;
}


.search-header .filter-bar{
    width: 26%;
    margin-top: 5px;
    margin-left: -15%;
    background-color: #e9f0f9;
    height: 35px;
    border-radius: 50px;
    border: 1px solid #c5defc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #171d62;
    padding-top: -40px;
}

.search-header .filter-list-icon svg{
    margin-top: -50px;
    margin-left: 65%;
    color: #171d62;
}

.search-header .filter-text{
    margin-top: 7px;
    margin-left: 12%;
    margin-bottom: -11px;
    color: #171d62;
}





/* for small screens of between 1024 to 899 */
@media screen and (max-width:1024px) and (min-width: 899px) {
    .search-header .mid-icons{
        width: 50%;
        margin-left: 5%;
    }

    .search-header .filter-bar{
        width: 30%;
        margin-top: 5px;
        margin-left: -18%;
    }
}


/* for mobile screens of between 800 to 500 */
@media screen and (max-width:800px) and (min-width: 500px) {
    .search-header{
        width: 110%;
        margin-left: 23%;
    }
    
}

/* for mobile screens of 499 and low */
@media screen and (max-width:499px) {
    .search-header{
        width: 160%;
    }

    .search-header .mid-icons{
        width: 55%;
        margin-left: 5%;
    }
    
}