.search-header{
    display: flex;
    width: 93%;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
}

.search-header .logo{
    width: 30%;
    font-size: 27px;
    margin-left: 10px;
    font-weight: 1000;
    color: #171d62;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.search-header .logo .link{
    color: #171d62;
    text-decoration: none;
}


.search-header .mid-icons{
    width: 47%;
    margin-left: 15%;
    margin-top: 8px;
}

.search-header .mid-icons i svg{
    width: 25%;
    font-size: 33px;
}

.search-header .mid-icons .list-icon{
    color: #5389f7;
}

.search-header .mid-icons .carousel-icon{
    color: #a4a5c7;
}


.search-header .filter-bar{
    width: 26%;
    margin-top: 5px;
    margin-left: -15%;
    background-color: #e9f0f9;
    height: 35px;
    border-radius: 50px;
    border: 1px solid #c5defc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #171d62;
    padding-top: -40px;
}

.search-header .filter-list-icon svg{
    margin-top: -50px;
    margin-left: 65%;
    color: #171d62;
}

.search-header .filter-text{
    margin-top: 7px;
    margin-left: 12%;
    margin-bottom: -11px;
    color: #171d62;
}

.rest-buttons{
    width: 100%;
    margin-bottom: 115px;
    margin-top: 5px;
}

.rest-buttons .searchTextbox{
    position: relative; 
    width: 80%; 
    margin-left: 5%;
}

.rest-buttons .searchTextbox input{
    height: 35px;
    width: 100%;
    padding-left: 40px;
    border-radius: 20px;
    border: 0;
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    position: absolute;
    outline: none;
}

.rest-buttons .searchTextbox input::placeholder{
    color: #5389f7;
}

.rest-buttons .search-icon{
    position: absolute;
    top: 8px;
    left: 10px;
    color: #5389f7;
}

.rest-buttons .use-my-location{
    position: relative;  
    width: 90%; 
    margin-left: 5%;
}

.rest-buttons .use-my-location button{
    height: 35px;
    width: 100%;
    padding-left: 30px;
    border-radius: 20px;
    border: 0;
    background-color: #d98248;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    position: absolute;
    outline: none;
    margin-top: 50px;
}

.rest-buttons .use-my-location button:hover{
    opacity: 0.7;
}

.rest-buttons .use-my-location .my-location-icon{
    position: absolute;
    top: 8px;
    left: 10px;
    color: #fff;
    margin-top: 48px;
}





@media screen and (min-width: 1000px) {
    .rest-buttons{
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
    }

}




/* for small screens of between 1024 to 899 */
@media screen and (max-width:1024px) and (min-width: 899px) {
    .search-header .mid-icons{
        width: 50%;
        margin-left: 5%;
    }

    .search-header .filter-bar{
        width: 30%;
        margin-top: 5px;
        margin-left: -18%;
    }
}


/* for mobile screens of between 800 to 500 */
@media screen and (max-width:800px) and (min-width: 500px) {
    .search-header{
        margin-left: 8%;
        width: 80%;
    }

    .rest-buttons .use-my-location{
        width: 85%; 
    }
    
}

/* for mobile screens of 499 and low */
@media screen and (max-width:499px) {
    .search-header .mid-icons{
        width: 55%;
        margin-left: 5%;
    }

    .search-header .filter-bar{
        width: 45%;
    }
    
}